WebContent/wsdl/WarehouseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services" xmlns:intf="http://services" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="shipGood">
    <complexType>
     <sequence>
      <element name="item" type="tns1:Item"/>
      <element name="info" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
   <element name="shipGoodResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Item">
    <sequence>
     <element name="manufacturerName" nillable="true" type="xsd:string"/>
     <element name="productType" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:int"/>
     <element name="unitPrice" type="xsd:float"/>
    </sequence>
   </complexType>
   <complexType name="Customer">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="customerReferenceNumber" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="street1" nillable="true" type="xsd:string"/>
     <element name="street2" nillable="true" type="xsd:string"/>
     <element name="zip" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="shipGoodRequest">

      <wsdl:part element="impl:shipGood" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="shipGoodResponse">

      <wsdl:part element="impl:shipGoodResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WarehouseService">

      <wsdl:operation name="shipGood">

         <wsdl:input message="impl:shipGoodRequest" name="shipGoodRequest">

       </wsdl:input>

         <wsdl:output message="impl:shipGoodResponse" name="shipGoodResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WarehouseServiceSoapBinding" type="impl:WarehouseService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="shipGood">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="shipGoodRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="shipGoodResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WarehouseServiceService">

      <wsdl:port binding="impl:WarehouseServiceSoapBinding" name="WarehouseService">

         <wsdlsoap:address location="http://localhost:8080/soen487/services/WarehouseService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
