WebContent/wsdl/XMLReader.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://XMLUtils.util" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://XMLUtils.util" xmlns:intf="http://XMLUtils.util" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://XMLUtils.util" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="read">
    <complexType>
     <sequence>
      <element name="url" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="readResponse">
    <complexType/>
   </element>
   <element name="readRSS">
    <complexType>
     <sequence>
      <element name="url" type="xsd:string"/>
      <element name="rootTags" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="readRSSResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="readResponse">

      <wsdl:part element="impl:readResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readRequest">

      <wsdl:part element="impl:read" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readRSSRequest">

      <wsdl:part element="impl:readRSS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readRSSResponse">

      <wsdl:part element="impl:readRSSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="XMLReader">

      <wsdl:operation name="read">

         <wsdl:input message="impl:readRequest" name="readRequest">

       </wsdl:input>

         <wsdl:output message="impl:readResponse" name="readResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readRSS">

         <wsdl:input message="impl:readRSSRequest" name="readRSSRequest">

       </wsdl:input>

         <wsdl:output message="impl:readRSSResponse" name="readRSSResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XMLReaderSoapBinding" type="impl:XMLReader">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="read">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readRSS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readRSSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readRSSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XMLReaderService">

      <wsdl:port binding="impl:XMLReaderSoapBinding" name="XMLReader">

         <wsdlsoap:address location="http://localhost:8080/soen487/services/XMLReader"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
